*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Pangolin", serif;
    background-color: #ebf2ff;    
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rbg(0 0 0 / 5%),;
    z-index: 9999;
}

.navbar__brand{
    width: 100px;
}

.brand__logo{
    height: 100px;
    /* width: 100%; */
}

.navbar__nav__items{
    display: flex;
}

.container{
    padding: 0px 2px;
}

.hero_container{
    margin-top: 1rem;
}

.hero_image_container{
    position: relative;
    width: 100%;
}

.hero_image{
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 10px;
}


.hero_image_shape{
    position: absolute;
}

.hero_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero_text{
    font-size: 1.8rem;
    line-height: 2.25rem;
    color: blue;
    font-weight: 900;
}

.video_footage_container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video_footage{
    position: relative;
}

.video_footage::before{
    background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
    content: "";
    top: 0px;
    left: 0px;
    transform: translate(-1rem, -1rem);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video_footage_text{
    margin-top: 2rem;
    color: red;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}


.button_primary{
    background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
    color: white;
    text-align: center;
    margin: 10px;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 20px red;
    display: block;
    background-size:200% auto;
}

.button_primary:hover {
    background-position: right center;
}

.food_list_container{
    position: relative;
    margin: 5rem 0;
}

.food_menu_card_list{
    width: 100%;
}

.food_menu_card_image{
    border-radius: 6px 6px 0px 0px;
    width: 100%;
}

.food_menu_card_details{
    padding: 1rem;
    color: black;
    text-align: left;
}

.food_menu_card_title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: blue;
    font-weight: 900;
}

.restaurant_list_images_container{
    margin-top: 3rem;
}

.restaurant_list_row1{
    display: flex;
    align-items: baseline;    
}
.restaurant_list_row2{
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;    
}

.restaurant1, .restaurant3{
    border-radius: 5px;
    margin: 0 5px;
    width: 150px;
    height: 80px;
}

.restaurant2, .restaurant4{
    border-radius: 5px;
    margin: 0 5px;
    width: 200px;
    height: 100px;
}


@media(min-width: 1200px){
    .navbar {
        padding: 0 3rem;

    }
    .button_primary{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero_image{
        margin-top: 2rem;
    }
    .hero_text{
        font-size: 3rem;
        line-height: 1;
    }
    .container{
        padding: 0px 200px;
    }
    .video_footage_container{
        display: flex;
        flex-direction: column;
    }
    .video_footage_text{
        width: 60%;
    }
    .food_menu_card_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
        margin-top: 2rem;
    }
    .food_menu_card{
        flex-basis: 30%;
        background-color: white;
        border-radius: 6px;
    }
    .food_list_container{
        position: relative;
        margin: 5rem 0;
    }
    .food_list_container_diagonal{
        background-image:  linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -3;
        transform: skewY(-5deg);
        width: 100%;
        height: 100%;
    }
    .restaurant_list_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .restaurant_list_row1{
        justify-content: center;
    }
    .restaurant_list_row2{
        margin-top: 3px;
        align-items: flex-start;
        justify-content: center;
    }
}
